body {
	background-position: top; margin: 0px; font-family: Arial, Helvetica, verdana; background-image: url("/core/back-2.jpg"); background-repeat: repeat-x; background-color: rgb(232, 232, 232);
}
